<div id="<%= dom_id job %>">
  <p>
    <strong>Name:</strong>
    <%= job.name %>
  </p>

  <p>
    <strong>Vacancy:</strong>
    <%= job.vacancy %>
  </p>

  <p>
    <strong>Sallary:</strong>
    <%= job.sallary %>
  </p>

</div>
